@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #B9EDDD;
    --secundario: #87CBB9;
    --terciario: #569DAA;
    --ultimo:#577D86;
    --gris: #CCCC;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Open Sans", sans-serif;
    overflow-x: hidden;
}

input{
    position: absolute;
    width: 647px;
    height: 125px;
    left: 45px;
    top: 20px;
}

.titulo{
    position: absolute;
    width: 291px;
    height: 98px;
    left: 58px;
    top: 216px;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 49px;
}
.btn{
    margin-top: 2rem;
    
}
.button {
    position: absolute;
    width: 425px;
    height: 35px;
    top: 250px;
    left: 585px;
    font-style: normal;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid;
    border-radius: 24px; /* Valor igual a la mitad de la altura para lograr un borde redondeado */
    background-color: #87CBB9;

  }
  .buttondos {
    position: absolute;
    width: 425px;
    height: 35px;
    top: 540px;
    left: 970px;
    font-style: normal;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid;
    border-radius: 24px; /* Valor igual a la mitad de la altura para lograr un borde redondeado */
    background-color: #569DAA;

  }

.card1{
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: 246px;
    left: 390px;
    top: 153px;
}

.card1 img{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    height: 350px;
    left: 200px;
    top: 19px;
}

.card1 p{
    position: absolute;
    width: 685px;
    height: 35px;
    top: 107px;
    left: 585px;
    font-style: normal;
    font-size: 70px;
    line-height: 60px;
    display: flex;
}

.card1 .sub{
    position: absolute;
    width: 308px;
    height: 30px;
    left: 585px;
    top: 273px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.img-petsmart {
    position: fixed;
    right: 0;
    bottom: 0;
}

.img-petsmart img{
    height: 100px;
    width: 150px;
}

.wave {
    position: absolute;
    left: 0;
    bottom: 0;
}

.wave .mi-svg {
    stroke: none;
    fill: #B9EDDD;
    height: 100%;
    width: 100%;
}


/*RESPONSIVE PARA PANTALLA PC 13 PULGADAS (MACBOOK)*/

@media (max-width: 1440px) {
    .card1 img{
        box-sizing: border-box;
        position: absolute;
        width: 350px;
        height: 350px;
        left: 120px;
        top: 19px;
    }
    .card1 p{
        left:510px;
        top:50px;
    }
    .card1 .sub{
        top:210px;
    }
    .button{
        top: 190px;
        left:510px;
    }
    .buttondos{
        top:480px;
        left:900px;
    }

}


/*RESPONSIVE PARA TABLETA IPAD*/

@media (max-width: 768px) {
     .titulo,.card1, .card1 img, .card1 p {
      position: static;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      text-align: center;
    }
    .card1 p{
        margin-bottom: 20px;
        left: 50%;
        transform: translateX(5%);
    }
    .card1 .sub{
      position: static;
      width: auto;
      height: auto;
      top: auto;
      left: auto;
      text-align: center;

    }
    .button {
        position: static;
        width: 420px;
        height: 35px;
        top: auto;
        left: auto;
        text-align: center;
    }
    .buttondos {
        position: absolute;
        margin-top: 20px;
        width: 420px;
        height: 35px;
        top: calc(40% + 2rem);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      .wave{
        z-index: -1;
      }

  }
 /*RESPONSIVE PARA TELEFONO IPHONE 12 PRO*/
  @media (max-width: 390px) {
     .card1 p {
        transform: translateX(1%);
      }
    .buttondos {
        position: absolute;
        margin-top: 20px;
        width: 320px;
        height: 35px;
        top: calc(60% + 2rem);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
      }
      .button{
        margin-bottom: 20px;
        width: 320px;
        height: 35px;

      }

  }